<div class="container">
  <div class="row">
    <h5>観光地詳細</h5>
  </div>
  <div class="row">
    <%= image_tag @tourist_spot.image, size: "350x250" %>
    <%= @tourist_spot.name %>
    <%= @tourist_spot.explanation %>
    <%= @tourist_spot.address %>
    <%= @tourist_spot.season_i18n %>
  </div>
  <dvi class="row">
    <%= link_to "レビューを書く", new_review_path %>
  </dvi>
  <div class="row">
    <% @reviews.each do |review| %>
    <%= review.evaluation %>
    <%= review.thoughts %>
    <% end %>
  </div>
</div>